




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 32px;
}

.logo {
    color: var(--primary);
    font-weight: bold;
    font-size: 32px;
}



.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    margin-left: 32px;
    height: 15px;
    width: 2px;
    background-color: var(--secondary);
    border-radius: 16px;
}

.navlist {
    display: flex;
}

.navlist li {
    color: black;
    
    display: flex;
    cursor: pointer;
    margin-left: 32px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}

.icon {
    margin-right: 7px;
}

