.explore {
    padding: 30px;
}

.explore-title h1 {
    font-weight: 300;

}

.explore-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.title-container {
    margin-left: 15px;
}

.explore-title p {
    font-family: 'outfit';
    font-size: 1rem;
}