.explore {
    padding: 40px;
}

.explore-title h1 {
    font-weight: 300;

}

.explore-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* padding-left: 40px; */
}

.title-container {
    margin-left: 15px;
}

.explore-title p {
    font-family: 'outfit';
    font-size: 1rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:  20px 0;
    justify-content: space-between;
}